<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sxp.androidsxp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AndroidSXP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".SxpDemoActivity" />
        <activity android:name=".demo.SxpLoginDemoActivity" />
        <activity android:name=".demo.SxpRegistrationDemoActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>